<div class="<%= ui_class(:page_header) %>">
  <div>
    <h1 class="<%= ui_class(:page_title) %>">New review application</h1>
    <p class="<%= ui_class(:page_description) %>">提出物とMarkdownコメントを登録して評価官へレビュー依頼します。</p>
  </div>
  <%= link_to "受験へ戻る", exam_application_path(@review_application.exam_application), class: button_classes(:secondary) %>
</div>

<%= render "form", review_application: @review_application %>
