<div class="<%= ui_class(:page_header) %>">
  <div>
    <h1 class="<%= ui_class(:page_title) %>">面談応募</h1>
    <p class="<%= ui_class(:page_description) %>"><%= @exam_application.display_name %></p>
  </div>
  <%= link_to "受験へ戻る", exam_application_path(@exam_application), class: button_classes(:secondary) %>
</div>

<%= error_summary(@interview_application) %>

<div class="<%= ui_class(:warning_box) %>">
  応募後は取消できません。受験対象と評価期を確認してから登録してください。
</div>

<div class="<%= ui_class(:panel) %>">
  <%= form_with model: @interview_application, url: exam_application_interview_application_path(@exam_application) do |form| %>
    <p>面談応募を登録すると、評価官の割り振りと希望日時登録へ進めます。</p>
    <div class="<%= ui_class(:form_actions) %>">
      <%= form.submit "面談応募を登録" %>
    </div>
  <% end %>
</div>
