<section class="<%= ui_class(:page_header) %>">
  <div>
    <p class="<%= ui_class(:eyebrow) %>">管理</p>
    <h1 class="<%= ui_class(:page_title) %>">ユーザー編集</h1>
    <p class="<%= ui_class(:page_description) %>"><%= @user.name %> / <%= @user.email %></p>
  </div>
</section>

<section class="<%= ui_class(:panel) %>">
  <%= render "form", user: @user, roles: @roles %>
</section>
